p#pogrubienie_hordiienko{
    font-size: 35px;
    color: #8C5CD3;
}
p#pochylona_hordiienko{
    font-size: 40pt;
    color: #F0C06F;
}
p#index_gorny_hordiienko{
    font-size: 1.5cm;
    color: #A08E1F;
}
p#index_dolny_hordiienko{
    font-size: 2.5cm;
    color: rgb(60%,100%,100%);
}
p#mono_hordiienko{
    font-size: 45px;
    color: #20DE6F;
}
p#powiekszenie_hordiienko{
    color: #5A3EA1;
}
p#pomniejszenie_hordiienko{
    color: rgb(100%,100%,61%);
}
/*Hordiienko Dmytro*/