*{
    font-size: 36pt;
    color: blue;
    background-color: yellow;
}
p.hordiienko_nieuniwersalny{
    font-size: 33pt;
    color: purple;
}
.hordiienko_uniwersalny{
    font-size: 31pt;
    color: black;
}


/* Hordiienko Z57_CSS */
    